.header {
  background: $light-red;
}

.header__title {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}


.lightweight {
  font-weight: 300;
}
