.list-header {
  background: $very-light-grey;
  border: 1px solid darken($very-light-grey, 7%);
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $l-size;
  @media (max-width: $desktop-breakpoint) {
    margin-bottom: $m-size;
  }
}


.list-item {
  background: white;
  max-height: 20rem;
  overflow-y: scroll;
  overflow-x: scroll;
  align-items: center;
  border: 1px solid darken($very-light-grey, 7%);
  border-top: none;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
  transition: background .3s ease;
  &:hover {
    background: $very-light-grey;
  }
  a {
    text-decoration: none;
    color: $dark-grey;
  }
  > * {
    min-width: 30%;
  }
  p {
    padding: $m-size;
    margin-right: $l-size;
  }
  h3 {
    padding: $m-size;
  }
  padding: 10px;
}

.list-item--message {
  align-items: center;
  color: $medium-grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__subtitle {
  color: $medium-grey;
  font-size: $font-size-medium;
}

.list-item__data {

}
