.edit-remove-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:113px;
  button {
    margin-bottom: $m-size;
  }
  > * {
    width: 10rem;
    text-align: center;
  }
  @media (max-width: $desktop-breakpoint * .7) {
    width: 20%;
  }
}


.site-background {
  background-image: url("/images/bg-red.png");
  background-size: 5px;
  height: 100%;
  width: 100%;
}

.override-color {
  color: white;
}

.link-focused {
  color: $medium-grey;
}



ol {
    counter-reset:item;
    margin:0;
    padding-left:0;
    li {
        counter-increment:item;
        list-style:none inside;
        margin: 5px 0 ;
        overflow: hidden;
        font-size: 8px !important;
        line-height: 1.3;
      }
    li:before {
      padding-right: 4px;
      padding-top: 10px;
      content: counter(item);
      width: 35px;
      color: $dark-grey;
      font: 20px 'Lato', Helvetica, Arial, sans-serif;
      font-weight: 100;
      float: left;
      text-align: center;
    }
}



.no-padding {
  padding: 0;
}
.t-f-header {
  @extend .list-header;
  font-weight: 300;
  text-align: center;

}
.t-f-button {
  font-weight: 300;
  text-decoration: none;
  outline: none;
  height: 3em;
  width: 50%;
  background-color: white;
  color:$dark-grey;
  color: transparent;
  text-align: center;
  border-bottom: 1px solid darken($very-light-grey, 7%);
  border-top: 0px;
  &:hover {
    background-color: darken($very-light-grey, 7%);
  }
  &:active {
    background-color: #BFBFBF;
  }
  &:focus {
    background-color: #D4D4D4;
  }
}
.left-tf-input {
  border-left: 1px solid darken($very-light-grey, 7%);
  border-right: 1px solid darken($very-light-grey, 7%);
}
.right-tf-input {
  border-right: 1px solid darken($very-light-grey, 7%);
  border-left: 0px;
}

::placeholder {
    color: $dark-grey;
    opacity: 1;
}


textarea {
    resize: none;
}
