
//COLORS
$light-blue: #CAEBF2;
$very-light-grey: #f7f7f7;
$medium-grey: #A9A9A9;
$dark-grey: #545454;
$bright-red: #FF3B3F;
$bright-red-dark: #b9383b;

//FONT SIZE
$font-size-small: 1rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.8rem;

//SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
